@font-face {
  font-family: odin-font;
  src: url(fonts/Norse-Bold.otf);
}

@font-face {
  font-family: "DMSans-regular";
  src: url(fonts/DMSans-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --odin-logo-top-margin: calc(
    30% - var(--odin-logo-image-height) - var(--odin-logo-padding) * 2
  );
  --odin-logo-padding: 0.5rem;
  --odin-logo-image-height: 5rem;
}

.main-container {
  display: flex;
  height: 100vh;
}

.leaf-background {
  position: relative;
  font-family: "odin-font";
}

.leaf-background__image {
  position: relative;
  height: 100vh;
  width: 100%;
}

.leaf-background__odin-logo {
  position: absolute;
  top: var(--odin-logo-top-margin);
  width: 100%;
  padding-top: var(--odin-logo-padding);
  padding-bottom: var(--odin-logo-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(0, 0, 0, 0.3);
  color: white;
}

.odin-logo__image {
  height: var(--odin-logo-image-height);
}

.odin-logo__text {
  font-size: 5rem;
}

.main-site {
  display: flex;
  flex-direction: column;
  font-family: "DMSans-regular";
  width: 65%;
}

.information-section {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 30%;
  padding-left: 5rem;
  background-color: rgb(245, 245, 245);
}

.information-section__text,
.information-section__short-text {
  width: 75%;
}

.information-section__text {
  overflow-wrap: break-word;
}

.input-section {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.input-section__title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.row > div {
  position: relative;
}

form {
  position: relative;
}

input {
  font-family: "DMSans-regular";
  padding-left: 0.5rem;
  height: 1.5rem;
  width: 130%;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 2px;
}

input:focus {
  outline-color: rgb(69, 69, 255);
}

label {
  position: absolute;
  left: 0;
  top: -1.3rem;
  letter-spacing: 0.1rem;
  color: rgb(66, 66, 66);
  width: 130%;
}

.input-section__inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.row {
  display: flex;
  gap: clamp(1rem, 7rem, 10rem);
}

.password__match-information {
  color: red;
  font-size: 0.8rem;
}

.password__do-not-match {
  border: 1px solid red;
}

.button-section {
  background-color: rgb(245, 245, 245);
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  gap: 2rem;
}

.button-section__button {
  width: 12rem;
  aspect-ratio: 10/2.5;
  background-color: #596d48;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.log-in-text__green {
  color: #596d48;
  font-weight: 600;
}
