@font-face {
  font-family: odin-font;
  src: url(fonts/Norse-Bold.otf);
}

@font-face {
  font-family: "DMSans-regular";
  src: url(fonts/DMSans-Regular.ttf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --odin-logo-top-margin: 10rem;
  --odin-logo-padding: 0.5rem;
  --odin-logo-image-height: 5rem;
  --odin-logo-height: calc(
    var(--odin-logo-image-height) + var(--odin-logo-top-margin) +
      var(--odin-logo-padding) * 2
  );
}

.main-container {
  display: flex;
  height: 100vh;
}

.leaf-background {
  position: relative;
  font-family: "odin-font";
}

.leaf-background__image {
  position: relative;
  height: 100vh;
  width: 100%;
}

.leaf-background__odin-logo {
  position: absolute;
  top: var(--odin-logo-top-margin);
  width: 100%;
  padding-top: var(--odin-logo-padding);
  padding-bottom: var(--odin-logo-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(0, 0, 0, 0.3);
  color: white;
}

.odin-logo__image {
  height: var(--odin-logo-image-height);
}

.odin-logo__text {
  font-size: 5rem;
}

.main-site {
  font-family: "DMSans-regular";
  width: 65%;
}

.information-section {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: var(--odin-logo-height);
  background-color: rgb(245, 245, 245);
  padding: 5rem 20rem 0rem 5rem;
}

.information-section__text {
  overflow-wrap: break-word;
}
